.shell {
    display: flex;
    min-height: 100vh;
    background: #ffffff;
}

.mainContent {
    flex: 1;
    margin-left: 270px;
    display: flex;
    flex-direction: column;
    background: #f0f2f5;
    border-top-left-radius: 4rem;
    min-height: 100vh;
    box-shadow: -15px 0 30px rgba(0, 0, 0, 0.03);
    position: relative;
    overflow: hidden;
}

.content {
    padding: 1rem 3rem 3rem 3rem;
    flex: 1;
}